In [1]:
import pandas as pd
import joblib
from sklearn.linear_model import LinearRegression
data=pd.read_csv('../Data/bmi_and_life_expectancy.csv')

In [2]:
import numpy as np
countries=data['Country'].tolist()
df=pd.DataFrame(0, index=np.arange(len(countries)),columns=countries)

In [3]:
np.fill_diagonal(df.values, 1)

In [4]:
df['BMI']=data['BMI']

In [5]:
df.head()

,Afghanistan,Albania,Algeria,Andorra,Angola,Armenia,Australia,Austria,Azerbaijan,Bahamas,...,United Kingdom,United States,Uruguay,Uzbekistan,Vanuatu,West Bank and Gaza,Vietnam,Zambia,Zimbabwe,BMI
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,20.62058
1,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,26.44657
2,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,24.59620
3,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,27.63048
4,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,22.25083

In [6]:
X=df
y=data['Life expectancy'].values.reshape(-1,1)
model=LinearRegression()
model.fit(X,y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [7]:
joblib.dump(model,'model.pkl')

['model.pkl']